<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanding.confessionwallback.mapper.CircleMapper">


    <update id="updateDong">
        update cw_circle
<set>

    <if test="circleName != null and circleName!='' ">
        circle_name = #{circleName},
    </if>
    <if test="circleDescription != null and circleDescription!=''">
        circle_description = #{circleDescription},
    </if>
    <if test="circleAvatar != null and circleAvatar!=''">
        circle_avatar = #{circleAvatar},
    </if>
    <if test="circleBackground!=null and circleBackground!=''">
        circle_background=#{circleBackground},
    </if>
    <if test="circleType!=null and circleType!=''">
        circle_type=#{circleType},
    </if>
    <if test="circleUpdateTime!=null">
        circle_update_time=#{circleUpdateTime}
    </if>

</set>
where circle_id = #{circleId}
    </update>
</mapper>